# permissions for end users to view alertnotificationtargets.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: clusterrole
    app.kubernetes.io/instance: alertnotificationtarget-viewer-role
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: slo-kubernetes-operator
    app.kubernetes.io/part-of: slo-kubernetes-operator
    app.kubernetes.io/managed-by: kustomize
  name: alertnotificationtarget-viewer-role
rules:
- apiGroups:
  - openslo.openslo
  resources:
  - alertnotificationtargets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - openslo.openslo
  resources:
  - alertnotificationtargets/status
  verbs:
  - get
