---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - monitoring.coreos.com
  resources:
  - prometheusrules
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - monitoring.coreos.com
  resources:
  - prometheusrules/finalizers
  verbs:
  - update
- apiGroups:
  - monitoring.coreos.com
  resources:
  - prometheusrules/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - openslo.com
  resources:
  - alertconditions
  - alertnotificationtargets
  - alertpolicies
  - datasources
  - slis
  - slos
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - openslo.com
  resources:
  - alertconditions/finalizers
  - alertnotificationtargets/finalizers
  - alertpolicies/finalizers
  - datasources/finalizers
  - slis/finalizers
  - slos/finalizers
  verbs:
  - update
- apiGroups:
  - openslo.com
  resources:
  - alertconditions/status
  - alertnotificationtargets/status
  - alertpolicies/status
  - datasources/status
  - slis/status
  - slos/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - osko.dev
  resources:
  - alertmanagerconfigs
  - mimirrules
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - osko.dev
  resources:
  - alertmanagerconfigs/finalizers
  - mimirrules/finalizers
  verbs:
  - update
- apiGroups:
  - osko.dev
  resources:
  - alertmanagerconfigs/status
  - mimirrules/status
  verbs:
  - get
  - patch
  - update
