# TODO: heureka-specific sample, should be replaced in the further-future with a more comprehensive dev environment
# ref.: https://github.com/oskoperator/osko/issues/45
apiVersion: openslo.com/v1
kind: Datasource
metadata:
  labels:
    app.kubernetes.io/name: mimir-infra-ds
  name: mimir-infra-ds
spec:
  description: Mimir Datasource for logging tenant
  type: mimir
  connectionDetails:
    address: https://mimir.monitoring.dev.heu.group/
    sourceTenants:
      - gatekeeper-system
    targetTenant: gatekeeper-system
