# TODO: heureka-specific sample, should be replaced in the further-future with a more comprehensive dev environment
# ref.: https://github.com/oskoperator/osko/issues/45
apiVersion: openslo.com/v1
kind: SLO
metadata:
  name: logging-query-frontend-error-rate
  labels:
    app.kubernetes.io/name: logging-query-frontend-error-rate
  annotations:
    osko.dev/datasourceRef: "logging-ds"
spec:
  budgetingMethod: Occurrences
  description: 99.00% of Loki read requests return valid response
  indicator:
    metadata:
      name: read-requests-valid-response-rate
    spec:
      description: 99.00% of Loki read requests return valid response
      ratioMetric:
        counter: true
        good:
          metricSource:
            spec:
              query: loki_request_duration_seconds_count{route=~"loki.*", service="loki-loki-distributed-query-frontend",status_code!~"5.*"}
            type: Prometheus
        total:
          metricSource:
            spec:
              query: loki_request_duration_seconds_count{route=~"loki.*", service="loki-loki-distributed-query-frontend"}
            type: Prometheus
  objectives:
    - displayName: read-requests-valid-response-rate
      target: '0.99'
  service: logging
  timeWindow:
    - duration: 28d
      isRolling: true
