---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.12.0
  name: alertpolicies.openslo.com
spec:
  group: openslo.com
  names:
    kind: AlertPolicy
    listKind: AlertPolicyList
    plural: alertpolicies
    singular: alertpolicy
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: AlertPolicy is the Schema for the alertpolicies API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: AlertPolicySpec defines the desired state of AlertPolicy
            properties:
              alertWhenBreaching:
                type: boolean
              alertWhenNoData:
                type: boolean
              alertWhenResolved:
                type: boolean
              conditions:
                items:
                  properties:
                    conditionRef:
                      type: string
                    kind:
                      enum:
                      - AlertCondition
                      type: string
                    metadata:
                      properties:
                        annotations:
                          additionalProperties:
                            type: string
                          type: object
                        displayName:
                          type: string
                        finalizers:
                          items:
                            type: string
                          type: array
                        labels:
                          additionalProperties:
                            type: string
                          type: object
                        name:
                          type: string
                        namespace:
                          type: string
                      type: object
                    spec:
                      description: AlertConditionSpec defines the desired state of
                        AlertCondition
                      properties:
                        condition:
                          properties:
                            alertAfter:
                              pattern: ^[1-9]\d*[s m h d]$
                              type: string
                            kind:
                              enum:
                              - Burnrate
                              type: string
                            lookbackWindow:
                              pattern: ^[1-9]\d*[s m h d]$
                              type: string
                            op:
                              enum:
                              - lte
                              - gte
                              - lt
                              - gt
                              type: string
                            threshold:
                              type: string
                          type: object
                        description:
                          maxLength: 1050
                          type: string
                        severity:
                          type: string
                      type: object
                  type: object
                maxItems: 1
                type: array
              description:
                maxLength: 1050
                type: string
              notificationTargets:
                items:
                  properties:
                    kind:
                      enum:
                      - AlertNotificationTarget
                      type: string
                    metadata:
                      properties:
                        annotations:
                          additionalProperties:
                            type: string
                          type: object
                        finalizers:
                          items:
                            type: string
                          type: array
                        labels:
                          additionalProperties:
                            type: string
                          type: object
                        name:
                          type: string
                        namespace:
                          type: string
                      type: object
                    spec:
                      description: AlertNotificationTargetSpec defines the desired
                        state of AlertNotificationTarget
                      properties:
                        description:
                          maxLength: 1050
                          type: string
                        target:
                          type: string
                      type: object
                    targetRef:
                      type: string
                  type: object
                type: array
            type: object
          status:
            description: AlertPolicyStatus defines the observed state of AlertPolicy
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
