---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.12.0
  name: datasources.openslo.com
spec:
  group: openslo.com
  names:
    kind: Datasource
    listKind: DatasourceList
    plural: datasources
    singular: datasource
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: Datasource is the Schema for the datasources API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: DatasourceSpec defines the desired state of Datasource
            properties:
              connectionDetails:
                properties:
                  address:
                    type: string
                  sourceTenants:
                    items:
                      type: string
                    type: array
                  syncPrometheusRules:
                    type: boolean
                  targetTenant:
                    type: string
                type: object
              description:
                maxLength: 1050
                type: string
              type:
                type: string
            type: object
          status:
            description: DatasourceStatus defines the observed state of Datasource
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
