---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: slis.openslo.com
spec:
  group: openslo.com
  names:
    kind: SLI
    listKind: SLIList
    plural: slis
    singular: sli
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: SLI is the Schema for the slis API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: SLISpec defines the desired state of SLI
            properties:
              description:
                maxLength: 1050
                type: string
              ratioMetric:
                properties:
                  bad:
                    properties:
                      metricSource:
                        properties:
                          metricSourceRef:
                            type: string
                          spec:
                            properties:
                              query:
                                type: string
                            type: object
                          type:
                            type: string
                        type: object
                    type: object
                  counter:
                    type: boolean
                  good:
                    properties:
                      metricSource:
                        properties:
                          metricSourceRef:
                            type: string
                          spec:
                            properties:
                              query:
                                type: string
                            type: object
                          type:
                            type: string
                        type: object
                    type: object
                  raw:
                    properties:
                      metricSource:
                        properties:
                          metricSourceRef:
                            type: string
                          spec:
                            properties:
                              query:
                                type: string
                            type: object
                          type:
                            type: string
                        type: object
                    type: object
                  rawType:
                    enum:
                    - success
                    - failure
                    type: string
                  total:
                    properties:
                      metricSource:
                        properties:
                          metricSourceRef:
                            type: string
                          spec:
                            properties:
                              query:
                                type: string
                            type: object
                          type:
                            type: string
                        type: object
                    type: object
                type: object
              thresholdMetric:
                properties:
                  metricSource:
                    properties:
                      metricSourceRef:
                        type: string
                      spec:
                        properties:
                          query:
                            type: string
                        type: object
                      type:
                        type: string
                    type: object
                type: object
            type: object
          status:
            description: SLIStatus defines the observed state of SLI
            type: object
        type: object
    served: true
    storage: false
    subresources:
      status: {}
  - name: v2
    schema:
      openAPIV3Schema:
        description: SLI is the Schema for the slis API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: SLISpec defines the desired state of SLI
            properties:
              description:
                maxLength: 1050
                type: string
              ratioMetric:
                properties:
                  bad:
                    properties:
                      metricSource:
                        properties:
                          metricSourceRef:
                            type: string
                          spec:
                            properties:
                              query:
                                type: string
                            type: object
                          type:
                            type: string
                        type: object
                    type: object
                  counter:
                    type: boolean
                  good:
                    properties:
                      metricSource:
                        properties:
                          metricSourceRef:
                            type: string
                          spec:
                            properties:
                              query:
                                type: string
                            type: object
                          type:
                            type: string
                        type: object
                    type: object
                  raw:
                    properties:
                      metricSource:
                        properties:
                          metricSourceRef:
                            type: string
                          spec:
                            properties:
                              query:
                                type: string
                            type: object
                          type:
                            type: string
                        type: object
                    type: object
                  rawType:
                    enum:
                    - success
                    - failure
                    type: string
                  total:
                    properties:
                      metricSource:
                        properties:
                          metricSourceRef:
                            type: string
                          spec:
                            properties:
                              query:
                                type: string
                            type: object
                          type:
                            type: string
                        type: object
                    type: object
                type: object
              thresholdMetric:
                properties:
                  metricSource:
                    properties:
                      metricSourceRef:
                        type: string
                      spec:
                        properties:
                          query:
                            type: string
                        type: object
                      type:
                        type: string
                    type: object
                type: object
            type: object
          status:
            description: SLIStatus defines the observed state of SLI
            type: object
        type: object
    served: true
    storage: false
    subresources:
      status: {}
