---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.12.0
  name: alertnotificationtargets.openslo.openslo
spec:
  group: openslo.openslo
  names:
    kind: AlertNotificationTarget
    listKind: AlertNotificationTargetList
    plural: alertnotificationtargets
    singular: alertnotificationtarget
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: AlertNotificationTarget is the Schema for the alertnotificationtargets
          API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: AlertNotificationTargetSpec defines the desired state of
              AlertNotificationTarget
            properties:
              description:
                maxLength: 1050
                type: string
              target:
                type: string
            type: object
          status:
            description: AlertNotificationTargetStatus defines the observed state
              of AlertNotificationTarget
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
