---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.12.0
  name: slos.slo-kubernetes-operator.openslo
spec:
  group: slo-kubernetes-operator.openslo
  names:
    kind: SLO
    listKind: SLOList
    plural: slos
    singular: slo
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: SLO is the Schema for the slos API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: SLOSpec defines the desired state of SLO
            properties:
              dataSink:
                type: string
              spec:
                description: SLOSpec defines the desired state of SLO
                properties:
                  alertPolicies:
                    items:
                      properties:
                        alertPolicyRef:
                          type: string
                        kind:
                          enum:
                          - AlertPolicy
                          type: string
                        metadata:
                          properties:
                            annotations:
                              additionalProperties:
                                type: string
                              type: object
                            finalizers:
                              items:
                                type: string
                              type: array
                            labels:
                              additionalProperties:
                                type: string
                              type: object
                            name:
                              type: string
                            namespace:
                              type: string
                          type: object
                        spec:
                          description: AlertPolicySpec defines the desired state of
                            AlertPolicy
                          properties:
                            alertWhenBreaching:
                              type: boolean
                            alertWhenNoData:
                              type: boolean
                            alertWhenResolved:
                              type: boolean
                            conditions:
                              items:
                                properties:
                                  conditionRef:
                                    type: string
                                  kind:
                                    enum:
                                    - AlertCondition
                                    type: string
                                  metadata:
                                    properties:
                                      annotations:
                                        additionalProperties:
                                          type: string
                                        type: object
                                      finalizers:
                                        items:
                                          type: string
                                        type: array
                                      labels:
                                        additionalProperties:
                                          type: string
                                        type: object
                                      name:
                                        type: string
                                      namespace:
                                        type: string
                                    type: object
                                  spec:
                                    description: AlertConditionSpec defines the desired
                                      state of AlertCondition
                                    properties:
                                      condition:
                                        properties:
                                          alertAfter:
                                            pattern: ^[1-9]\d*[s m h d]$
                                            type: string
                                          kind:
                                            enum:
                                            - Burnrate
                                            type: string
                                          lookbackWindow:
                                            pattern: ^[1-9]\d*[s m h d]$
                                            type: string
                                          op:
                                            enum:
                                            - lte
                                            - gte
                                            - lt
                                            - gt
                                            type: string
                                          threshold:
                                            type: string
                                        type: object
                                      description:
                                        maxLength: 1050
                                        type: string
                                      severity:
                                        type: string
                                    type: object
                                type: object
                              maxItems: 1
                              type: array
                            description:
                              maxLength: 1050
                              type: string
                            notificationTargets:
                              items:
                                properties:
                                  kind:
                                    enum:
                                    - AlertNotificationTarget
                                    type: string
                                  metadata:
                                    properties:
                                      annotations:
                                        additionalProperties:
                                          type: string
                                        type: object
                                      finalizers:
                                        items:
                                          type: string
                                        type: array
                                      labels:
                                        additionalProperties:
                                          type: string
                                        type: object
                                      name:
                                        type: string
                                      namespace:
                                        type: string
                                    type: object
                                  spec:
                                    description: AlertNotificationTargetSpec defines
                                      the desired state of AlertNotificationTarget
                                    properties:
                                      description:
                                        maxLength: 1050
                                        type: string
                                      target:
                                        type: string
                                    type: object
                                  targetRef:
                                    type: string
                                type: object
                              type: array
                          type: object
                      type: object
                    type: array
                  budgetingMethod:
                    enum:
                    - Occurrences
                    - Timeslices
                    - RatioTimeslices
                    type: string
                  description:
                    maxLength: 1050
                    type: string
                  indicator:
                    description: SLISpec defines the desired state of SLI
                    properties:
                      description:
                        maxLength: 1050
                        type: string
                      ratioMetric:
                        properties:
                          bad:
                            additionalProperties:
                              properties:
                                metricSourceRef:
                                  type: string
                                spec:
                                  type: string
                                type:
                                  type: string
                              type: object
                            type: object
                          counter:
                            type: boolean
                          good:
                            additionalProperties:
                              properties:
                                metricSourceRef:
                                  type: string
                                spec:
                                  type: string
                                type:
                                  type: string
                              type: object
                            type: object
                          raw:
                            additionalProperties:
                              properties:
                                metricSourceRef:
                                  type: string
                                spec:
                                  type: string
                                type:
                                  type: string
                              type: object
                            type: object
                          rawType:
                            enum:
                            - success
                            - failure
                            type: string
                          total:
                            additionalProperties:
                              properties:
                                metricSourceRef:
                                  type: string
                                spec:
                                  type: string
                                type:
                                  type: string
                              type: object
                            type: object
                        type: object
                      thresholdMetric:
                        properties:
                          metricSource:
                            properties:
                              metricSourceRef:
                                type: string
                              spec:
                                type: string
                              type:
                                type: string
                            type: object
                        type: object
                    type: object
                  indicatorRef:
                    type: string
                  objectives:
                    items:
                      properties:
                        compositeWeight:
                          anyOf:
                          - type: integer
                          - type: string
                          pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                          x-kubernetes-int-or-string: true
                        displayName:
                          type: string
                        indicator:
                          properties:
                            metadata:
                              properties:
                                annotations:
                                  additionalProperties:
                                    type: string
                                  type: object
                                finalizers:
                                  items:
                                    type: string
                                  type: array
                                labels:
                                  additionalProperties:
                                    type: string
                                  type: object
                                name:
                                  type: string
                                namespace:
                                  type: string
                              type: object
                            spec:
                              description: SLISpec defines the desired state of SLI
                              properties:
                                description:
                                  maxLength: 1050
                                  type: string
                                ratioMetric:
                                  properties:
                                    bad:
                                      additionalProperties:
                                        properties:
                                          metricSourceRef:
                                            type: string
                                          spec:
                                            type: string
                                          type:
                                            type: string
                                        type: object
                                      type: object
                                    counter:
                                      type: boolean
                                    good:
                                      additionalProperties:
                                        properties:
                                          metricSourceRef:
                                            type: string
                                          spec:
                                            type: string
                                          type:
                                            type: string
                                        type: object
                                      type: object
                                    raw:
                                      additionalProperties:
                                        properties:
                                          metricSourceRef:
                                            type: string
                                          spec:
                                            type: string
                                          type:
                                            type: string
                                        type: object
                                      type: object
                                    rawType:
                                      enum:
                                      - success
                                      - failure
                                      type: string
                                    total:
                                      additionalProperties:
                                        properties:
                                          metricSourceRef:
                                            type: string
                                          spec:
                                            type: string
                                          type:
                                            type: string
                                        type: object
                                      type: object
                                  type: object
                                thresholdMetric:
                                  properties:
                                    metricSource:
                                      properties:
                                        metricSourceRef:
                                          type: string
                                        spec:
                                          type: string
                                        type:
                                          type: string
                                      type: object
                                  type: object
                              type: object
                          type: object
                        indicatorRef:
                          type: string
                        op:
                          enum:
                          - lte
                          - gte
                          - lt
                          - gt
                          type: string
                        target:
                          type: string
                        targetPercent:
                          type: string
                        timeSliceTarget:
                          type: string
                        timeSliceWindow:
                          pattern: ^[1-9]\d*[s m h d]$
                          type: string
                        value:
                          type: string
                      type: object
                    type: array
                  service:
                    type: string
                  timeWindow:
                    items:
                      properties:
                        calendar:
                          properties:
                            startTime:
                              description: Date with time in 24h format, format without
                                time zone
                              example: "2020-01-21 12:30:00"
                              type: string
                            timeZone:
                              description: Name as in IANA Time Zone Database
                              example: America/New_York
                              type: string
                          type: object
                        duration:
                          pattern: ^[1-9]\d*[s m h d]$
                          type: string
                        isRolling:
                          type: boolean
                      type: object
                    maxItems: 1
                    type: array
                type: object
            type: object
          status:
            description: SLOStatus defines the observed state of SLO
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
